<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Change Password</title>
  <div th:replace="~{test-navbar :: styles}"></div>

</head>

<div th:replace="test-navbar.html :: navbar"></div>


<body>
<div class="container mt-5">
  <h2>Change Password</h2>
  <form th:action="@{/user/change-password}" method="post">
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
    </div>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>

<div th:replace="~{test-navbar :: scripts}"></div>

</body>
</html>
