<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:fragment="styles">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </div>
</head>
<body>

<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" th:href="@{/}">Index/Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" th:href="@{/accounts/create}">Create Account</a>-->
<!--        </li>-->
        <li sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" th:href="@{/user/list}">Users</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" th:href="@{/accounts}">Accounts</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" th:href="@{/user/create}">Create User</a>
        </li>
          <li sec:authorize="isAuthenticated()">
              <a class="nav-link" th:href="@{|/accounts/${#authentication.principal.id}/transfer|}">Transfer Money</a>
          </li>
          <li sec:authorize="hasRole('ADMIN')">
              <a class="nav-link" th:href="@{|/accounts/${#authentication.principal.id}/add-user|}">Add User to Account</a>
          </li>

          <!-- Uncomment if you want to include this link -->
        <!-- <li class="nav-item">
            <a class="nav-link" th:href="@{|/accounts/${account.accountNumber}/transactions|}">View Transaction History</a>
        </li> -->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" th:href="@{/statements}">Account Statement</a>-->
<!--        </li>-->
          <li class="nav-item">
              <a class="nav-link" th:href="@{|/accounts/${#authentication.principal.id}/notifications|}">Notification Settings</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item" sec:authorize="isAuthenticated()">
          <span class="navbar-text">
            Welcome, <span th:text="${#authentication.name}">User</span>!
          </span>
              </li>
      </ul>
    </div>
  </nav>
</div>

<style>
  body {
      padding-top: 56px; /* Adjust based on your navbar height */
  }
</style>

<div th:fragment="scripts">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</div>

</body>
</html>
